parameters:
  level: 1
  paths:
    - src
    - modules/dkan_query_tools/src
    - tests
    - modules/dkan_query_tools/tests
  excludePaths:
    # Deliberately minimal test doubles that mimic Drupal DB classes; they are
    # not real implementations and are not meant to pass static analysis.
    - modules/dkan_query_tools/tests/stubs/*
  ignoreErrors:
    # new static() is a best practice in Drupal, so we cannot fix that.
    - "#^Unsafe usage of new static#"
